---
layout: default
title: "Robert L. Logan IV"
---

<div class="jumbotron vertical-center">

  <div class="row">
    <div class="col-lg-3 col-md-12">
      <img class="rounded-circle img-fluid img-center" width="256px" src="assets/portrait.jpg">
    </div>

    <div class="col-lg-9 col-md-12">
      <h2 class="mt-0">Robert L. Logan IV</h2>
      <h4 class="mt-0">Ph.D. Student at UC Irvine</h4>
      <p class="text-justify">

        I am a research scientist at <a href="www.dataminr.com">Dataminr</a>.
        My research primarily focuses on the interplay between language modeling and information extraction.
        In particular, I am interested in using structured knowledge to improve the quality of natural language generation systems and language representation models.

        Prior to joining Dataminr, I was a Ph.D. student at the <a
          href="www.uci.edu">University of California, Irvine</a>, studying
        machine learning and natural language processing under <a
          href="http://www.ics.uci.edu/~smyth/">Padhraic Smyth</a> and <a
          href="sameersingh.org">Sameer Singh</a>, and recieved BAs in Mathematics and Economics from the <a href="www.ucsc.edu">University of California, Santa Cruz</a>.
        I have also conducted machine learning research as an intern at <a href="https://research.google/">Google Research</a>
        and <a href="www.diffbot.com">Diffbot</a> and worked as a research analyst at <a href="www.prologis.com">Prologis</a>.
      </p>
    </div>
  </div>
</div>

<a name="research">
<div id="research" class="mu-4">
  <h2>Research</h2>
  {% for project in site.data.projects %}
  <div class="card">
    <!-- TODO: UPLOAD PROJECT IMAGES
    <img class="card-img-top" src="{{ project.image }}">
    -->
    <div class="card-body">

      <h4 class="card-title">{{ project.title }}</h5>

      <h6 class="venue">{{ project.venue }}</h6>

      <h6 class="authors">
        {% for author in project.authors %}
          {% if author.website %}
            <a href="{{ author.website }}">{{ author.name }}</a>
          {% else %}
            <a>{{ author.name }}</a>
          {% endif %}
          {% if forloop.last == false %}
          -
          {% endif %}
        {% endfor %}
      </h6>


      <a class="btn btn-primary" data-toggle="collapse" href="#{{ project.id }}" role="button" aria-expanded="false" aria-controls="{{ project.id }}">
        Abstract
      </a>

      {% if project.paper %}
      <a role="button" class="btn btn-primary" target="_blank" href={{ project.paper }}>Paper</a>
      {% endif %}

      {% if project.poster %}
      <a role="button" class="btn btn-primary" target="_blank" href={{ project.poster }}>Poster</a>
      {% endif %}

      {% if project.github %}
      <a role="button" class="btn btn-primary" target="_blank" href={{ project.github }}>Code</a>
      {% endif %}

      {% if project.dataset %}
      <a role="button" class="btn btn-primary" target="_blank" href={{ project.dataset }}>Dataset</a>
      {% endif %}

      <div class="collapse" id="{{ project.id }}">
        <div class="card card-body">
          {{ project.abstract}}
        </div>
      </div>

    </div>
  </div>
  {% endfor %}
</div>
</a>

<a name="contact">
<div id="contact" class="mt-4 mu-4">
  <h2>Contact</h2>
  <div class="listgroup">
    <a href="mailto:rlogan@uci.edu" class="list-group-item"><i class="fas fa-envelope fa-2x"></i>&nbsp; Email</a>
    <a href="https://www.github.com/rloganiv" class="list-group-item"><i class="fab fa-github fa-2x"></i>&nbsp; GitHub</a>
    <a href="https://www.linkedin.com/in/rloganiv" class="list-group-item"><i class="fab fa-linkedin fa-2x"></i>&nbsp; LinkedIn</a>
  </div>
</div>
</a>

