---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.venue {
    color: $gray-900;
}

.authors {
    color: $primary;
}

.authors a {
    color: inherit;
}

.authors a:hover {
    text-decoration: none;
}

.img-center {
    display: block;
    margin: 0 auto;
}

